body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  color: #015486;
  font-size: 30px;
  margin: 0 0 .5em;
  font-weight: 700;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
  color: #8948bc;
  font-weight: bold;
}

.main-content .title-head {
  background-color: #0688ff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-content .title-head h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 400;
}